<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="wp80" />
  <package id="DotNetZip" version="1.9" targetFramework="wp80" />
  <package id="FM" version="2.5.2" targetFramework="wp80" />
  <package id="FM.IceLink" version="2.5.2" targetFramework="wp80" />
  <package id="FM.IceLink.WebSync" version="2.5.2" targetFramework="wp80" />
  <package id="FM.WebSync" version="4.5.2" targetFramework="wp80" />
  <package id="FM.WebSync.Chat" version="4.5.2" targetFramework="wp80" />
  <package id="FM.WebSync.Subscribers" version="4.5.2" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="wp80" />
  <package id="Portable.BouncyCastle" version="1.7.0.1" targetFramework="wp80" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wp80" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp80" />
  <package id="WindowsAzure.Messaging.Managed" version="0.1.7.9" targetFramework="wp80" />
</packages>